html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }








body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.highlight.blue {
  color: #428bca; }
.highlight.red {
  color: #d73b65; }

.pointer, header .user span {
  cursor: pointer; }

li {
  list-style-type: none; }

.fa-refresh.fa-spin {
  color: black; }

.hidden {
  display: none; }

.button {
  cursor: pointer; }

.tooltip {
  font-size: 1rem; }
  .tooltip .tooltip-arrow {
    display: none; }
  .tooltip .tooltip-inner {
    margin-left: -5%; }
  .tooltip.blue .tooltip-inner {
    background-color: #428bca; }
  .tooltip.red .tooltip-arrow {
    border-bottom-color: #d73b65; }

.alertMsg.top.absolute {
  position: absolute;
  top: 0px;
  left: 25%;
  z-index: 100;
  display: none; }

.wrapper {
  max-width: none !important;
  width: 1150px;
  position: relative;
  margin: 0px auto; }

header {
  z-index: 2;
  height: 50px;
  width: 100%;
  letter-spacing: 0.05rem; }
  header .brand {
    position: absolute;
    left: -14px;
    bottom: 0; }
    header .brand * {
      position: absolute;
      bottom: 0; }
    header .brand svg.logo {
      left: 0;
      bottom: -2px; }
    header .brand .name {
      left: 40px;
      font-size: 1.5rem; }
  header .navigation {
    position: absolute;
    bottom: 0;
    left: 275px;
    width: 680px;
    text-transform: uppercase; }
    header .navigation .nav-pills li a {
      padding-bottom: 0px;
      background-color: #fff;
      color: #808080; }
      header .navigation .nav-pills li a .caret {
        margin-left: 5px; }
      header .navigation .nav-pills li a:hover {
        color: #4d4d4d; }
    header .navigation .nav-pills li.active {
      vertical-align: text-bottom; }
      header .navigation .nav-pills li.active a {
        background-color: #fff;
        color: #428bca; }
  header .user {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 0.9rem; }
    header .user span {
      color: #808080; }
      header .user span:hover {
        color: #4d4d4d; }
    header .user .glyphicon-user {
      padding-left: 15px; }
  header #logout {
    display: block;
    z-index: 8;
    position: absolute;
    text-align: right;
    right: -15px;
    top: 75px;
    border-right: solid thin #d0d0d0;
    padding: 0 0.5rem 0.5rem 0;
    background-color: #fff; }
    header #logout a {
      text-decoration: none;
      color: #808080; }
      header #logout a:hover {
        color: #575757; }

main h3.mainTitle {
  position: relative;
  float: left;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #575757;
  font-size: 2rem; }

.page-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0; }

.dashboard h4 {
  margin-bottom: 0.5rem;
  clear: both; }
.dashboard table {
  margin-top: 1.5rem;
  font-size: 0.9rem; }
  .dashboard table th {
    font-weight: 500; }

.design.campaigns .main h3.mainTitle {
  text-align: center;
  font-size: 2.5em;
  clear: both; }
.design.campaigns .main h3.secondTitle {
  font-size: 2rem;
  clear: both;
  text-align: center;
  margin-bottom: 25px; }
.design.campaigns .main .header {
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #0082c3; }
.design.campaigns .main a {
  display: block;
  cursor: pointer; }
  .design.campaigns .main a .block {
    padding: 20px 0 10px 15%; }
    .design.campaigns .main a .block:hover {
      background-color: rgba(245, 245, 245, 0.09); }
.design.campaigns .main .block .block-number {
  height: 100%;
  font-weight: bolder;
  color: #4b4b4b;
  margin: 3px 0 0 100px;
  float: left;
  clear: none;
  position: absolute;
  z-index: 2;
  font-size: 2rem; }
.design.campaigns .main .block .block-content {
  margin-left: 150px; }
  .design.campaigns .main .block .block-content .header {
    margin-top: 2px;
    text-transform: uppercase;
    font-weight: bold;
    color: #0082c3;
    font-size: 1.5rem; }
  .design.campaigns .main .block .block-content .content {
    color: #939393;
    font-size: 1.5rem;
    margin-top: 5px; }
.design .gpsMandatory {
  margin-bottom: 20px; }
.design .buttons {
  margin-bottom: 10px; }
  .design .buttons a {
    font-size: 0.9em; }
  .design .buttons .btn-primary {
    margin: 0 5px 0 3px; }
    .design .buttons .btn-primary a {
      color: #000; }
.design button {
  font-size: 0.9em; }



.map-page #headerWrapper {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.92);
  z-index: 6;
  width: 100%;
  height: 70px;
  top: 0;
  margin: 0;
  border-bottom: solid #f2f2f2 1px; }
.map-page #map-canvas {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 0; }
.map-page .map.controls.cards {
  top: 100px;
  position: absolute;
  z-index: 18;
  overflow: auto;
  background-color: #fff;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 6px 0px; }
.map-page .map.controls.button {
  width: 3.75em;
  /* 44px / 16 */
  height: 3.5em;
  /* 44px / 16 */
  left: 1em;
  /* 28px/16 */
  top: 100px; }
  .map-page .map.controls.button img {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 80%;
    top: 10%;
    left: 0; }
.map-page .map.controls.primary {
  top: 100px;
  padding-top: 10px;
  position: absolute;
  width: 284px;
  max-height: 90%;
  left: 80px; }
  .map-page .map.controls.primary .element {
    position: relative;
    clear: both;
    margin: 0px;
    left: 10%;
    width: 80%;
    margin-top: 0.3em;
    font-size: 1em;
    color: #808080; }
    .map-page .map.controls.primary .element.mapType span.name {
      margin-left: -5%;
      width: 85%;
      font-size: 1.5em;
      color: #4D4D4D; }
    .map-page .map.controls.primary .element.mapType span.hideAction {
      margin-top: 0.8em;
      z-index: 35;
      float: right;
      color: #a7a7a7;
      font-size: 0.8em; }
    .map-page .map.controls.primary .element.date {
      color: #ADADAD;
      margin: 1.2em 0 -0.2em 0;
      font-size: 0.8em;
      margin-bottom: -10px; }
    .map-page .map.controls.primary .element.question {
      font-size: 1.1em;
      color: #4D4D4D;
      cursor: pointer; }
      .map-page .map.controls.primary .element.question.highlight.red {
        color: #d73b65; }
    .map-page .map.controls.primary .element.answer {
      color: #4D4D4D;
      margin: 0.7em 0 0 10px;
      cursor: pointer; }
      .map-page .map.controls.primary .element.answer table tr {
        height: 1.7em;
        font-size: 1em; }
      .map-page .map.controls.primary .element.answer.highlight.red {
        color: #d73b65; }
    .map-page .map.controls.primary .element.separator {
      width: 85%;
      height: 1px;
      margin: 1.5em 0;
      background-color: #e8e8e8; }
    .map-page .map.controls.primary .element.computationType {
      position: relative;
      width: 85%;
      height: 60px; }
      .map-page .map.controls.primary .element.computationType .title {
        font-size: 0.9em;
        margin: 0 2em 0 0.6em;
        color: #ADADAD; }
      .map-page .map.controls.primary .element.computationType .button {
        font-size: 1em;
        margin: 0 0.2em;
        padding: 0.5em 0.8em;
        color: #232323;
        display: inline-block; }
        .map-page .map.controls.primary .element.computationType .button.percentage {
          padding: 0.5em 0.6em; }
        .map-page .map.controls.primary .element.computationType .button.selected {
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          background: #E4E4E4; }
.map-page .map.controls.secondary {
  position: relative;
  top: 100px;
  width: 70%;
  max-height: 80%;
  padding-top: 10px;
  margin-left: 0.2em;
  left: 366px; }
  .map-page .map.controls.secondary .header {
    position: relative;
    padding: 0px 15px 0px 20px;
    margin-top: 5px;
    width: 92%;
    left: 2%;
    height: 58px;
    text-align: left;
    border-bottom: 1px #e8e8e8 solid;
    font-weight: 400;
    font-size: 1.5em;
    color: #4D4D4D; }
    .map-page .map.controls.secondary .header .dates {
      position: absolute;
      right: 0px;
      top: 10px;
      font-size: 0.7em; }
      .map-page .map.controls.secondary .header .dates .edit {
        padding-right: 5px;
        padding-left: 5px; }
    .map-page .map.controls.secondary .header button {
      position: absolute; }
      .map-page .map.controls.secondary .header button.valid {
        right: 77px; }
      .map-page .map.controls.secondary .header button.cancel {
        right: 0; }
    .map-page .map.controls.secondary .header i {
      position: absolute;
      left: 8px;
      top: 8px; }
    .map-page .map.controls.secondary .header .text {
      position: absolute;
      left: 55px;
      top: 8px; }
  .map-page .map.controls.secondary #contentWrapper {
    position: relative;
    max-height: 500px;
    overflow: scroll; }
    .map-page .map.controls.secondary #contentWrapper .content {
      padding: 0 10px 50px 10px; }
      .map-page .map.controls.secondary #contentWrapper .content ul {
        padding: 1em 1em 0 1.3em; }
        .map-page .map.controls.secondary #contentWrapper .content ul span {
          margin: 0 0 100px 16px; }
        .map-page .map.controls.secondary #contentWrapper .content ul li {
          padding: 8px 0 8px 40px;
          font-size: 0.9rem; }
          .map-page .map.controls.secondary #contentWrapper .content ul li:hover {
            background-color: #fff; }
          .map-page .map.controls.secondary #contentWrapper .content ul li:nth-of-type(1) {
            margin-top: 1em; }
          .map-page .map.controls.secondary #contentWrapper .content ul li label {
            font-weight: 400;
            margin-left: 12px;
            padding-right: 10px; }
  .map-page .map.controls.secondary .footer {
    background-color: white;
    position: relative;
    width: 100%;
    bottom: 0; }
    .map-page .map.controls.secondary .footer i {
      margin: 10px 0 20px 32px; }

.dataMap #player-controls {
  position: relative;
  color: #575757;
  font-size: 1.2rem;
  height: 90px; }
  .dataMap #player-controls .player-control-buttons {
    position: absolute;
    left: 5px;
    width: 120px; }
  .dataMap #player-controls .player-control-date {
    position: absolute;
    left: 95px;
    width: 80px;
    top: 5px;
    font-size: 0.8rem; }
  .dataMap #player-controls .player-control-time {
    position: absolute;
    left: 170px;
    width: 50px;
    top: 5px;
    font-size: 0.8rem; }
  .dataMap #player-controls #range-slider {
    position: absolute;
    left: 20px;
    width: 250px;
    top: 40px; }
    .dataMap #player-controls #range-slider #slider {
      position: absolute;
      width: 180px; }
.dataMap .infoWindow {
  max-height: 350px;
  font-size: 16px; }
  .dataMap .infoWindow .highligth {
    font-weight: bold; }
  .dataMap .infoWindow #header {
    color: #002084; }
    .dataMap .infoWindow #header p {
      margin: 0;
      padding: 2px;
      font-size: 14px; }
  .dataMap .infoWindow #bodyContent table {
    width: 100%;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px; }
    .dataMap .infoWindow #bodyContent table .section {
      color: #575757; }
    .dataMap .infoWindow #bodyContent table tr {
      border-bottom: solid thin #ddd;
      font-family: sans-serif; }
    .dataMap .infoWindow #bodyContent table th {
      text-align: left;
      padding-bottom: 9px;
      font-family: sans-serif; }
    .dataMap .infoWindow #bodyContent table td {
      text-align: left;
      padding-top: 5px;
      padding-bottom: 5px;
      font-family: sans-serif; }

ol.breadcrumb {
  margin-bottom: 20px;
  margin-top: 25px; }
  ol.breadcrumb li {
    color: #000; }

.admin table {
  position: relative;
  margin: 0 auto;
  width: 60%; }
.admin .buttons {
  margin-bottom: 10px; }
  .admin .buttons a {
    font-size: 0.9em; }
  .admin .buttons .btn-primary {
    margin: 0 5px 0 3px; }
    .admin .buttons .btn-primary a {
      color: #000; }
.admin button {
  font-size: 0.9em; }
.admin .main h3.mainTitle {
  text-align: center;
  font-size: 2.5em;
  clear: both; }
.admin .main h3.secondTitle {
  font-size: 2rem;
  clear: both;
  text-align: center;
  margin-bottom: 25px; }
.admin .main .header {
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #0082c3; }
.admin .main a {
  display: block;
  cursor: pointer; }
  .admin .main a .block {
    padding: 20px 0 10px 15%; }
    .admin .main a .block:hover {
      background-color: rgba(245, 245, 245, 0.09); }
.admin .main .block .block-number {
  height: 100%;
  font-weight: bolder;
  color: #4b4b4b;
  margin: 3px 0 0 100px;
  float: left;
  clear: none;
  position: absolute;
  z-index: 2;
  font-size: 2rem; }
.admin .main .block .block-content {
  margin-left: 150px; }
  .admin .main .block .block-content .header {
    margin-top: 2px;
    text-transform: uppercase;
    font-weight: bold;
    color: #0082c3;
    font-size: 1.5rem; }
  .admin .main .block .block-content .content {
    color: #939393;
    font-size: 1.5rem;
    margin-top: 5px; }
.admin.users h1 {
  margin: 16px 0 41px 0;
  font-size: 28px; }
.admin.users select {
  width: 260px; }
.admin.users input {
  width: 260px;
  float: left;
  position: relative; }
  .admin.users input.error {
    border-color: #d73b65; }
.admin.users label.error {
  position: relative;
  float: left;
  margin-left: 36px;
  margin-top: 9px;
  clear: none;
  color: #d73b65; }
.admin.users label#result {
  position: relative;
  float: left;
  margin-left: 36px;
  margin-top: 9px;
  clear: none;
  color: #d73b65; }
  .admin.users label#result.good {
    color: green; }
  .admin.users label#result.strong {
    color: green; }
.admin.users form {
  clear: both;
  margin: 45px 0; }
  .admin.users form .form-group.last {
    margin: 45px 0; }

.list ul li.active {
  color: #383838; }

.edit ul li span.remove {
  float: right;
  cursor: pointer; }

.connectedSortable {
  border: 1px solid silver; }

ul.connectedSortable {
  list-style-type: none;
  padding: 0px;
  overflow-y: scroll;
  height: 300px; }

.connectedSortable li {
  margin: 5px;
  padding: 10px;
  background: #E5E5E5;
  cursor: move; }

.answersLogItems .main h3.mainTitle {
  font-size: 1.5em;
  color: black; }

.answersLog table td a {
  cursor: pointer; }

.answersLog table td.edit {
  cursor: pointer; }

.export-form button {
  margin-top: 30px; }
