
extends ../structure/layout
//- The extends keyword allows a template to extend a layout or parent template. It can then override certain pre-defined blocks of content. 
//- layout is the base of the structure of the page



block pageSpecificStyleDev
	link(rel='stylesheet', href='/styles/login.css')
//- Style only required, included by default in production



block header
//- empty block


block page
	h1(class = "text-center ") TradeMapp
		p(class = "lead text-center") Trade Marketing performance App
	form(method='post', class ="text-center form-inline", role="form", id="form")
		div(class="form-group")
			label(class="sr-only ", for="login") Login
			input(name='login',id='login', class="form-control", type="text", placeholder='Login' )
		div(class="form-group")
			label(class="sr-only", for="password") Password
			input(name='password',id='password', class="form-control", type='password', placeholder='Password' )
		input(type='submit', class='btn btn-primary', value='Log in', name='log_in',id='log_in',)




block footer
//- empty block